<!-- src/templates/legend.html -->

<div class="legend-root">
    <div class="legend-section">
        <div class="legend-title">Disruptions</div>
        <div class="legend-list vertical">
            {{DISRUPTION_ITEMS}}
        </div>
    </div>

    <div class="legend-section">
        <div class="legend-title">Subsets</div>
        <div class="legend-list">
            {{SUBSET_ITEMS}}
        </div>
    </div>

    <div class="legend-section">
        <div class="legend-title">Plot Legend</div>
        <div class="legend-list">
            {{UMAP_COLOR_ITEMS}}
        </div>
    </div>
</div>
